<h1 class="about_header">WHAT IS THE MNEMONIC MAJOR SYSTEM?</h1>
<p class="about_para">
    The Mnemonic Major System is a memory technique used to memorize numbers.
    The system works on the principle that images can be remembered more easily than numbers.
    The word "Chimpanzee" creates a picture that is easier to retain in one's memory than by simply using "63920".
    <br /><br />
    The system works by converting numbers into consonant sounds,
    which are then converted into words by adding vowels and other wildcard letters (see key below).
    It's important to note that the system is based off of sounds and not the actual letter.
    For example, the "ck" in "back" equates to only 9 instead of 99, as only one sound is produced.

</p>

<h1 class="about_header">KEY</h1>
<br />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Associated Letters/Sounds </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0</td>
                        <td>Z, S</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>D, T</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>N</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>M</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>R</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>L</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>J, Sh, Ch, G</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>K, C</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>F, V</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>B, P</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-2">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>"Wildcard" <br />Letters</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>a</td>
                    </tr>
                    <tr>
                        <td>e</td>
                    </tr>
                    <tr>
                        <td>i</td>
                    </tr>
                    <tr>
                        <td>o</td>
                    </tr>
                    <tr>
                        <td>u</td>
                    </tr>
                    <tr>
                        <td>h</td>
                    </tr>
                    <tr>
                        <td>w</td>
                    </tr>
                    <tr>
                        <td>y</td>
                    </tr>
                    <tr>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td><h3></h3></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<h1 class="about_header">EXAMPLES</h1>
<div class="row about_example_div">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <h2>76   <span class="glyphicon glyphicon-arrow-right"></span>   coach</h2>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-1">
                <p>7</p>
            </div>
            <div class="col-xs-1">
                <p>-</p>
            </div>
            <div class="col-xs-1">
                <p>-</p>
            </div>
            <div class="col-xs-1">
                <p>6</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
                <p>c</p>
            </div>
            <div class="col-xs-1">
                <p>o</p>
            </div>
            <div class="col-xs-1">
                <p>a</p>
            </div>
            <div class="col-xs-1">
                <p>ch</p>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row about_example_div">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <h2>395   <span class="glyphicon glyphicon-arrow-right"></span>   employee</h2>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-1">
                <p>-</p>
            </div>
            <div class="col-xs-1">
                <p>3</p>
            </div>
            <div class="col-xs-1">
                <p>9</p>
            </div>
            <div class="col-xs-1">
                <p>5</p>
            </div>
            <div class="col-xs-1">
                <p>-</p>
            </div>
            <div class="col-xs-1">
                <p>-</p>
            </div>
            <div class="col-xs-1">
                <p>-</p>
            </div>
            <div class="col-xs-1">
                <p>-</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
                <p>e</p>
            </div>
            <div class="col-xs-1">
                <p>m</p>
            </div>
            <div class="col-xs-1">
                <p>p</p>
            </div>
            <div class="col-xs-1">
                <p>l</p>
            </div>
            <div class="col-xs-1">
                <p>o</p>
            </div>
            <div class="col-xs-1">
                <p>y</p>
            </div>
            <div class="col-xs-1">
                <p>e</p>
            </div>
            <div class="col-xs-1">
                <p>e</p>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row about_example_div">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <h2>712859   <span class="glyphicon glyphicon-arrow-right"></span>   cat envelope</h2>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-1">
                <p>7</p>
            </div>
            <div class="col-xs-1">
                <p>-</p>
            </div>
            <div class="col-xs-1">
                <p>1</p>
            </div>
            <div class="col-xs-1">
                <p>-</p>
            </div>
            <div class="col-xs-1">
                <p>-</p>
            </div>
            <div class="col-xs-1">
                <p>2</p>
            </div>
            <div class="col-xs-1">
                <p>8</p>
            </div>
            <div class="col-xs-1">
                <p>-</p>
            </div>
            <div class="col-xs-1">
                <p>5</p>
            </div>
            <div class="col-xs-1">
                <p>-</p>
            </div>
            <div class="col-xs-1">
                <p>9</p>
            </div>
            <div class="col-xs-1">
                <p>-</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
                <p>c</p>
            </div>
            <div class="col-xs-1">
                <p>a</p>
            </div>
            <div class="col-xs-1">
                <p>t</p>
            </div>
            <div class="col-xs-1">
                <p></p>
            </div>
            <div class="col-xs-1">
                <p>e</p>
            </div>
            <div class="col-xs-1">
                <p>n</p>
            </div>
            <div class="col-xs-1">
                <p>v</p>
            </div>
            <div class="col-xs-1">
                <p>e</p>
            </div>
            <div class="col-xs-1">
                <p>l</p>
            </div>
            <div class="col-xs-1">
                <p>o</p>
            </div>
            <div class="col-xs-1">
                <p>p</p>
            </div>
            <div class="col-xs-1">
                <p>e</p>
            </div>
        </div>
    </div>
</div>
<!--

76:	7 - - 6			395:	- 395 ----		712859:	
    coach				employee				cat envelope

-->
